.slider-container {
  margin-left: 4em;
  margin-right: 1em;
  width: 100%;
  min-width: 1em;
}

.linechart-container {
  width: 100%;
  min-width: 1em;
  height: 8em;
}
.slider-title {
  margin-top: 1em;
  width: 100%;
  min-width: 1em;
  text-align: center;
}
